/*----------------------------------GENERAL--------------------------------*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  /*-moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;*/
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1.2;
  font-size: 100%;
  /*font-size: 14px;*/
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

nav,
footer,
header,
aside,
main,
figure,
figcaption,
details,
article,
section {
  display: block;
  font: inherit;
}

/*--------------------------------OTHER--------------------------------*/
summary {
  display: list-item;
}

template {
  display: none;
}

ul li,
ol li {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  /*content: none;*/
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a,
a:visited {
  text-decoration: none;
  background-color: transparent;
}

a, a:visited {
  color: inherit;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  /*text-decoration: underline dotted;*/
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  display: block;
  border-style: none;
  max-width: 100%;
  height: auto;
}

progress {
  vertical-align: baseline;
}

[hidden] {
  display: none;
}

/*---------------------------FORM--------------------------------*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

input,
button,
textarea,
optgroup,
select {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

input::-ms-clear {
  display: none;
}

textarea {
  overflow: auto;
}

button,
select {
  text-transform: none;
}

button {
  background-color: transparent;
  cursor: pointer;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2"), url("../fonts/Montserrat-Regular.woff"), url("../fonts/Montserrat-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2"), url("../fonts/Montserrat-Bold.woff"), url("../fonts/Montserrat-Bold.ttf");
  font-weight: 700;
}
:root {
  --basicBlack: #000;
  --basicWhite: #fff;
  --backgroundMain: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  --backgroundSectionGray: #F5F5FA;
  --mainRegular: #323264;
  --mainAlt: #46466E;
  --greyText: #B3B3BA;
  --activeRegular: #24A3FF;
  --activeHover: #0085FF;
  --activeActive: #006CCF;
  --activeBgText: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  --accentActive: #F0145A;
  --separatorColour: #E6E6F0;
}

.btn {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--basicWhite);
  font-size: 16px;
  font-weight: 700;
  padding: 18px 30px;
  background: var(--activeRegular);
  border-radius: 12px;
}
.btn:hover {
  color: var(--activeBgText);
  text-decoration: underline;
}

.btn__send {
  width: calc(100% - 60px);
  font-size: 16px;
  font-weight: 700;
  padding: 18px 0;
  margin: 15px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--basicWhite);
  background: var(--activeRegular);
  border-radius: 12px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

.wrapper-bg {
  background: var(--backgroundMain);
  border-radius: 0 0 12px 12px;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
}

.container {
  padding-left: calc(50vw - 157px);
  padding-right: calc(50vw - 157px);
}
@media screen and (min-width: 520px) {
  .container {
    padding-left: calc(50vw - 230px);
    padding-right: calc(50vw - 230px);
  }
}
@media screen and (min-width: 767px) {
  .container {
    padding-left: calc(50vw - 323px);
    padding-right: calc(50vw - 323px);
  }
}
@media screen and (min-width: 1024px) {
  .container {
    padding-left: calc(50vw - 452px);
    padding-right: calc(50vw - 452px);
  }
}
@media screen and (min-width: 1440px) {
  .container {
    padding-left: calc(50vw - 660px);
    padding-right: calc(50vw - 660px);
  }
}
@media screen and (min-width: 1920px) {
  .container {
    padding-left: calc(50vw - 800px);
    padding-right: calc(50vw - 800px);
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navbar {
  display: none;
}

@media screen and (min-width: 767px) {
  .navbar {
    display: flex;
    padding-left: 60px;
  }
  .navbar__list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;
    font-size: 16px;
    font-weight: 700;
    padding-top: 30px;
  }
  .navbar__list-item:first-child {
    color: var(--accentActive);
    position: relative;
  }
  .navbar__list-item:first-child:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--accentActive);
    margin-top: 3px;
  }
  .navbar__list-link {
    position: relative;
  }
  .navbar__list-link:hover {
    background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  .navbar__list-link:active:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--accentActive);
    margin-top: 3px;
  }
}
@media screen and (min-width: 1024px) {
  .navbar__list {
    padding-top: 0;
  }
}
.header {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  color: var(--basicWhite);
  font-weight: 700;
  z-index: 5;
}
.header__top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background: rgba(245, 245, 250, 0.2);
  order: -1;
}
.header__top-menu-language {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.header__top-menu-language-item:nth-child(3) a {
  background-color: var(--accentActive);
  border-radius: 8px;
}
.header__top-menu-language-link {
  padding: 5px 7px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
}
.header__top-menu-language-link:active {
  background-color: var(--accentActive);
  border-radius: 8px;
}
.header__top-menu-contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}
.header__top-menu-contacts-item:first-child, .header__top-menu-contacts-item:last-child {
  display: none;
}
.header__top-menu-contacts-item:nth-child(2) {
  font-size: 16px;
  font-weight: 700;
}
.header__top-menu-contacts-link {
  display: flex;
}
.header__top-menu-contacts-link:active {
  color: var(--accentActive);
}
.header__menu-link {
  display: flex;
  max-width: 130px;
  width: 100%;
  padding: 16px 0 16px 15px;
}
.header__menu-logo {
  width: 70px;
  height: 32px;
}

.icon__facebook {
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 767px) {
  .header {
    display: flex;
    flex-direction: column;
  }
  .header__top-menu {
    padding: 50px 0 30px 60px;
    justify-content: flex-start;
    gap: 18px;
    background: none;
  }
  .header__top-menu:after {
    background: transparent;
  }
  .header__top-menu-language-link:hover {
    background: var(--greyText);
    border-radius: 8px;
  }
  .header__top-menu-language-link:active {
    background-color: var(--accentActive);
    border-radius: 8px;
  }
  .header__top-menu-contacts-item:first-child, .header__top-menu-contacts-item:last-child {
    display: block;
  }
  .header__top-menu-contacts-item:first-child {
    font-size: 16px;
    color: var(--greyText);
    position: relative;
    font-weight: 400;
  }
  .header__top-menu-contacts-item:first-child:before, .header__top-menu-contacts-item:first-child:after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--separatorColour);
  }
  .header__top-menu-contacts-item:first-child:before {
    left: -12px;
  }
  .header__top-menu-contacts-item:first-child:after {
    right: -12px;
  }
  .header__top-menu-contacts-item:nth-child(2) {
    position: relative;
    margin-left: 6px;
  }
  .header__top-menu-contacts-item:nth-child(2):after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--separatorColour);
    right: -12px;
  }
  .header__top-menu-contacts-item:first-child a:hover, .header__top-menu-contacts-item:first-child a:active, .header__top-menu-contacts-item:nth-child(2) a:hover, .header__top-menu-contacts-item:nth-child(2) a:active {
    background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  .header__top-menu-contacts-item:last-child {
    margin-left: 6px;
  }
  .header__top-menu-contacts-item:last-child a:hover svg path {
    fill: var(--activeActive);
  }
  .header__top-menu-contacts-item:last-child a:active svg path {
    fill: var(--accentActive);
  }
  .header__menu-link {
    margin-left: 60px;
    padding: 0;
  }
  .header__menu-logo {
    width: 130px;
    height: 60px;
  }
}
@media screen and (min-width: 1024px) {
  .header {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 30px 30px;
  }
  .header__menu {
    display: grid;
    grid-column: span 2;
    justify-self: end;
    margin: 40px 60px 0 0;
    order: 4;
  }
  .header__menu-link {
    margin-top: 30px;
    order: 1;
  }
  .header__top-menu {
    order: 2;
    justify-self: end;
    padding: 50px 0 0 0;
    margin-right: 60px;
  }
}
@media screen and (min-width: 1920px) {
  .header__menu {
    margin-right: 160px;
  }
  .header__menu-link {
    margin-left: 160px;
  }
  .header__top-menu {
    margin-right: 160px;
  }
}
.modal {
  display: grid;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 99999;
  opacity: 0;
  overflow-y: auto;
  backdrop-filter: blur(2px);
  visibility: hidden;
  transition: opacity 0.4s, visibility 0.4s;
}
.modal.open {
  visibility: visible;
  opacity: 1;
}
.modal.open .modal__box {
  transform: scale(1);
}
.modal__box {
  box-shadow: 0 15px 80px rgba(40, 40, 86, 0.5);
  border-radius: 12px;
  height: 640px;
  width: 100%;
  padding: 30px;
  z-index: 1;
  background: var(--backgroundSectionGray);
  transform: scale(0);
  transition: transform 0.8s;
  position: relative;
}
.modal__box .btn__close {
  position: absolute;
  top: 30px;
  right: 30px;
}
.modal__box .btn__close:hover svg path {
  stroke: var(--activeHover);
}
.modal__box .btn__close:active svg path {
  stroke: var(--accentActive);
}
.modal__box-title {
  max-width: 260px;
  width: 100%;
  text-align: start;
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 30px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.modal__box form {
  display: flex;
  flex-direction: column;
}
.modal__box form .username {
  width: calc(100% - 60px);
  border-radius: 8px;
  border: 1px solid var(--basicWhite);
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 15px;
  height: 56px;
}
.modal__box form .username::placeholder {
  color: var(--greyText);
  padding-left: 15px;
}
.modal__box form .message {
  border: 1px solid var(--basicWhite);
  resize: none;
  width: calc(100% - 60px);
  height: 130px;
  font-size: 16px;
  line-height: 26px;
  border-radius: 8px;
  margin-bottom: 30px;
}
.modal__box form .message::placeholder {
  color: var(--greyText);
  padding: 15px 0 0 15px;
}
.modal__box form .title {
  color: var(--greyText);
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: start;
  margin-bottom: 15px;
}
.modal__box form .phone__number,
.modal__box form .email {
  width: calc(100% - 60px);
  border-radius: 8px;
  border: 1px solid var(--basicWhite);
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 15px;
  height: 56px;
}
.modal__box form .phone__number::placeholder,
.modal__box form .email::placeholder {
  color: var(--greyText);
  padding-left: 15px;
}

@media screen and (min-width: 767px) {
  .modal__box {
    width: 650px;
  }
  .modal__box-title {
    max-width: 100%;
    font-size: 38px;
  }
}
.services__promo {
  background: var(--backgroundMain);
  border-radius: 0 0 12px 12px;
  padding-top: 132px;
  padding-bottom: 60px;
  margin-bottom: 60px;
  position: relative;
}
.services__promo:before, .services__promo:after {
  content: "";
  position: absolute;
  height: 10px;
  border-radius: 0 0 12px 12px;
}
.services__promo:before {
  left: 20px;
  width: calc(100% - 40px);
  background: #CACADB;
  bottom: -10px;
}
.services__promo:after {
  left: 40px;
  width: calc(100% - 80px);
  background: #E7E7F2;
  bottom: -20px;
}

.services__main {
  text-align: center;
  padding-bottom: 30px;
  border-bottom: 4px solid rgba(255, 255, 255, 0.5);
}
.services__main-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.services__main-title {
  margin: 28px 0;
  font-size: 30px;
  font-weight: 700;
  background: var(--activeBgText);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.services__main-desc {
  margin: 28px 0;
  color: var(--basicWhite);
  font-size: 19px;
  line-height: 1.6;
}

.services__open {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.services__open-title {
  padding: 30px 0;
  font-weight: 700;
  color: var(--basicWhite);
  font-size: 22px;
}
.services__open-list {
  font-size: 18px;
  line-height: 1.6;
  color: var(--basicWhite);
}
.services__open-list-item {
  margin-bottom: 15px;
  padding-left: 8px;
  position: relative;
}
.services__open-list-item:before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--accentActive);
  top: 12px;
  left: 0;
  margin-left: -8px;
}

@media screen and (min-width: 767px) {
  .services__main {
    padding-bottom: 60px;
  }
  .services__main-title {
    font-size: 38px;
  }
  .services__open-list {
    display: flex;
    gap: 60px;
  }
  .services__open-list-item {
    margin-bottom: 0;
  }
  .services__open-basis {
    flex-basis: 294px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}
@media screen and (min-width: 1024px) {
  .services__open-basis {
    flex-basis: 422px;
  }
}
@media screen and (min-width: 1440px) {
  .services__open-list {
    justify-content: space-around;
  }
  .services__open-basis {
    flex-basis: 510px;
  }
}
@media screen and (min-width: 1920px) {
  .services__open-basis {
    flex-basis: 650px;
  }
}
.publications {
  padding-bottom: 30px;
  padding-top: 30px;
  background-color: var(--backgroundSectionGray);
}
.publications__page-title {
  font-weight: 700;
  color: var(--activeRegular);
  margin-bottom: 5px;
  text-transform: uppercase;
}
.publications__page-link {
  display: flex;
  align-items: center;
  max-width: 150px;
  width: 100%;
}
.publications__page-link svg {
  margin-left: 2px;
}
.publications__page-link:visited {
  color: var(--activeRegular);
}
.publications__page-link:active {
  color: var(--accentActive);
}
.publications__title {
  font-size: 30px;
  font-weight: 700;
  max-width: 270px;
  width: 100%;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 30px;
}
.publications__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
.publications__article {
  background-color: var(--basicWhite);
  border-radius: 8px;
}
.publications__article-title {
  color: var(--activeRegular);
  font-size: 16px;
  font-weight: 700;
  padding: 30px 30px 15px;
}
.publications__article-link:hover {
  color: var(--accentActive);
}
.publications__article-link:active {
  color: var(--accentActive);
}
.publications__article-date {
  display: block;
  color: #B3B3BA;
  padding: 0 30px 15px;
  position: relative;
}
.publications__article-date:after {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translateX(50%);
  content: "";
  width: 80%;
  min-width: 255px;
  height: 4px;
  border-bottom: 4px solid var(--separatorColour);
  margin-top: 15px;
}
.publications__article-desc {
  padding: 15px 30px 30px;
  line-height: 1.6;
}

@media screen and (min-width: 767px) {
  .publications__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  .publications__article:nth-child(3) {
    grid-column: span 2;
  }
  .publications__title {
    font-size: 38px;
    max-width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .publications__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .publications__article-img {
    width: 100%;
    height: 150px;
  }
  .publications__article:nth-child(3) {
    grid-column: span 1;
  }
  .publications__page-link:hover {
    color: var(--accentActive);
  }
  .publications__page-link:hover svg path {
    stroke: var(--accentActive);
  }
  .publications__page-link:active {
    background: var(--activeBgText);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}
.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 2px solid var(--separatorColour);
  background-color: var(--backgroundSectionGray);
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.footer__address-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer__address-menu-item-link:hover {
  color: var(--accentActive);
}
.footer__address-menu-item:first-child {
  color: var(--mainRegular);
  font-size: 16px;
}
.footer__address-menu-item:last-child {
  color: var(--activeRegular);
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}
.footer__rights {
  order: 3;
  padding-top: 30px;
}
.footer__rights-menu-item {
  color: var(--greyText);
  font-size: 16px;
}
.footer__contacts-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer__contacts-menu-item:first-child {
  padding-top: 20px;
}
.footer__contacts-menu-item:first-child a:hover svg path {
  fill: var(--activeHover);
}
.footer__contacts-menu-item:first-child a:active svg path {
  fill: var(--accentActive);
}
.footer__contacts-menu-item:nth-child(2) {
  color: var(--mainAlt);
  font-size: 16px;
  font-weight: 700;
}
.footer__contacts-menu-item:nth-child(2) a:hover {
  color: var(--accentActive);
}
.footer__contacts-menu-item:last-child {
  font-weight: 700;
  color: var(--activeRegular);
  font-size: 16px;
}
.footer__contacts-menu-item:last-child a:hover {
  color: var(--accentActive);
}

@media screen and (min-width: 1024px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    align-items: center;
    justify-content: center;
  }
  .footer__address-menu {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .footer__address-menu-item:first-child {
    position: relative;
  }
  .footer__address-menu-item:first-child:after {
    content: "";
    position: absolute;
    top: 50%;
    right: -15px;
    border-radius: 50%;
    transform: translateY(-50%);
    width: 6px;
    height: 6px;
    background: var(--greyText);
  }
  .footer__address-menu-item:last-child {
    margin: 2px 0 0 12px;
  }
  .footer__rights {
    padding-top: 0;
    justify-self: end;
    order: 0;
  }
  .footer__contacts {
    padding-top: 10px;
    grid-column: span 2;
  }
  .footer__contacts-menu {
    display: flex;
    flex-direction: row;
    gap: 26px;
    align-items: center;
  }
  .footer__contacts-menu-item:first-child {
    padding-top: 0;
  }
  .footer__contacts-menu-item:nth-child(2) {
    position: relative;
  }
  .footer__contacts-menu-item:nth-child(2):before, .footer__contacts-menu-item:nth-child(2):after {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    top: 50%;
    border-radius: 50%;
    transform: translateY(-50%);
    background: var(--greyText);
  }
  .footer__contacts-menu-item:nth-child(2):before {
    left: -14px;
  }
  .footer__contacts-menu-item:nth-child(2):after {
    right: -14px;
  }
}

/*# sourceMappingURL=servicespage.css.map */
