.footer{
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 2px solid var(--separatorColour);
  background-color: var(--backgroundSectionGray);

  &__menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    &-item{

      &:first-child{
        font-size: 16px;
        color: var(--mainRegular);
      }

      &:nth-child(2){
        color: var(--activeRegular);
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 1px;
        margin-bottom: 11px;
        font-weight: 700;
      }
      &:nth-child(4){
        color: var(--mainAlt);
        font-size: 16px;
        font-weight: 700;
      }

      &:nth-child(5){
        font-size: 16px;
        font-weight: 700;
        color: var(--activeRegular);
        margin-bottom: 20px;
      }

      &:last-child{
        color: var(--greyText);
        font-size: 16px;
        font-weight: 200;
      }
    }

    &-link{

      &:active{
        color: var(--accentActive);
      }
    }
  }

  &__facebook-link{
    display: block;
    background-image: url("../../img/fb-footer.svg");
    width: 39px;
    height: 38px;
    &:active{
      background: url("../../img/fb-footer-active.svg") center / cover no-repeat;
    }
  }
}
