.header {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  color: var(--basicWhite);
  font-weight: 700;
  z-index: 5;
  &__content{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
    svg{
      margin-left: -44px;
      margin-top: -10px;
    }
    &-desc{
      font-size: 20px;
      margin-top: -10px;
      margin-left: -4px;
    }
  }
  &__top-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: rgba(245, 245, 250, 0.2);
    order: -1;
    &-language{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      &-item{
        &:nth-child(3){
          a{
            background-color: var(--accentActive);
            border-radius: 8px;
          }
        }
      }
      &-link{
        padding: 5px 7px;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;
        &:active{
          background-color: var(--accentActive);
          border-radius: 8px;
        }
      }
    }
    &-contacts{
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 12px;

      &-item{
        &:first-child,
        &:last-child{
          display: none;
        }
        &:nth-child(2){
          font-size: 16px;
          font-weight: 700;
        }
      }
      &-link{
        display: flex;
        &:active{
          color: var(--accentActive);
        }
      }
    }
  }
  &__menu{
    &-link{
      display: flex;
      max-width: 130px;
      width: 100%;
      padding: 16px 0 16px 15px;
    }
    &-logo{
      width: 70px;
      height: 32px;
    }
  }
}
.icon__facebook{
  width: 24px;
  height: 24px;
}



@media screen and (min-width: 520px) {
}

@media screen and (min-width: 767px) {
  .header{
    display: flex;
    flex-direction: column;
    &__content{
      align-items: center;
      svg{
        margin-left: 0;
      }
      &-desc{
        font-size: 36px;
      }
    }
    &__top-menu{
      padding: 50px 0 30px 60px;
      justify-content: flex-start;
      gap: 18px;
      background: none;
      &:after{
        background: transparent;
      }
      &-language{
        &-link{
          &:hover{
            background: var(--greyText);
            border-radius: 8px;
          }
          &:active{
            background-color: var(--accentActive);
            border-radius: 8px;
          }
        }
      }
      &-contacts{
        &-item{
          &:first-child,
          &:last-child{
            display: block;
          }
          &:first-child{
            font-size: 16px;
            color: var(--greyText);
            position: relative;
            font-weight: 400;

            &:before,
            &:after{
              content: '';
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              width: 6px;
              height: 6px;
              border-radius: 50%;
              background: var(--separatorColour);
            }
            &:before{
              left: -12px;
            }
            &:after{
              right: -12px;
            }
          }
          &:nth-child(2){
            position: relative;
            margin-left: 6px;
            &:after{
              content: '';
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              width: 6px;
              height: 6px;
              border-radius: 50%;
              background: var(--separatorColour);
              right: -12px;
            }
          }
          &:first-child,
          &:nth-child(2){
            a{
              &:hover,
              &:active{
                background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
              }
            }
          }
          &:last-child{
            margin-left: 6px;
            a{
              &:hover{
                svg{
                  path{
                    fill: var(--activeActive);
                  }
                }
              }
              &:active{
                svg{
                  path{
                    fill: var(--accentActive);
                  }
                }
              }
            }
          }
        }
      }
    }
    &__menu{
      &-link{
        margin-left: 60px;
        padding: 0;
      }
      &-logo{
        width: 130px;
        height: 60px;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .header{
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 30px 30px;
    &__content{
      margin-top: 50px;
      svg{
        margin: 0;
      }
      &-desc{
        margin: 0;
        justify-self: flex-end;
      }
    }
    &__menu{
      display: grid;
      grid-column: span 2;
      justify-self: end;
      margin: 40px 60px 0 0;
      order: 4;
      &-link{
        margin-top: 30px;
        margin-left: 60px;
        order: -1;
      }
    }
    &__top-menu{
      order: 2;
      justify-self: end;
      padding: 50px 0 0 0;
      margin-right: 60px;
    }
  }
}

@media screen and (min-width: 1440px) {
}

@media screen and (min-width: 1920px) {
  .header{
    &__menu{
      margin-right: 160px;
      &-link{
        margin-left: 160px;
      }
    }
    &__top-menu{
      margin-right: 160px;
    }
  }
}
