.header {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  color: var(--basicWhite);
  font-weight: 700;
  z-index: 5;
  &__menu{
    display: none;
  }
  &__top-menu{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    order: -1;
    background: rgba(245, 245, 250, 0.2);
    &-language{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 2px;
      &-item{
        &:nth-child(3){
          a{
            background-color: var(--accentActive);
            border-radius: 8px;
          }
        }
      }
      &-link{
        padding: 5px 7px;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;
        &:hover{
          background: var(--greyText);
          border-radius: 8px;
        }
        &:active{
          background-color: var(--accentActive);
          border-radius: 8px;
        }
      }
    }
    &-contacts{
      display: flex;
      &-item{
        &:first-child,
        &:last-child{
          display: none;
        }
        &:nth-child(2) {
          font-size: 16px;
          font-weight: 700;
        }
      }
      &-link{
        &:hover,
        &:active{
          color: var(--accentActive);
        }
      }
    }
  }
  &__mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 15px;
    &-wrapper{
      display: flex;
      align-items: center;
      gap: 4px;
      svg{
        margin-top: -10px;
      }
    }
    &-desc{
      font-size: 20px;
      margin-top: -10px;
      font-weight: 400;
    }
    &-logo{
      width: 70px;
      height: 32px;
    }
  }
}

@media screen and (min-width: 520px) {
}

@media screen and (min-width: 767px) {
  .header {

    &__menu{
      display: flex;
      .navbar{
        &__list{
          &-item{
            &:first-child{
              color: var(--basicWhite);
              &:after{
                display: none;
              }
            }
            &:nth-child(2){
              position: relative;
              &:after{
                content: '';
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: var( --accentActive);
                margin-top: 3px;
              }
              a {
                background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
              }
            }
          }
        }
      }
    }
    &__top-menu{
      padding-top: 10px;
      padding-bottom: 10px;
      display: flex;
      justify-content: flex-start;
      gap: 18px;
      align-items: center;
      order: -1;
      background: none;
      &-language{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        &-item{
          &:nth-child(3){
            a{
              background-color: var(--accentActive);
              border-radius: 8px;
            }
          }
        }
        &-link{
          padding: 5px 7px;
          text-transform: uppercase;
          font-size: 12px;
          font-weight: 700;
          &:hover{
            background: var(--greyText);
            border-radius: 8px;
          }
          &:active{
            background-color: var(--accentActive);
            border-radius: 8px;
          }
        }
      }
      &-contacts{
        display: flex;
        align-items: center;
        gap: 18px;
        &-item{
          &:first-child{
            font-size: 16px;
            color: var(--greyText);
            position: relative;
            font-weight: 400;
            &:before,
            &:after{
              content: '';
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              width: 6px;
              height: 6px;
              border-radius: 50%;
              background: var(--separatorColour);
            }
            &:before{
              left: -12px;
            }
            &:after{
              right: -12px;
            }
          }
          &:first-child,
          &:last-child{
            display: block;
          }
          &:nth-child(2) {
            font-size: 16px;
            font-weight: 700;
            position: relative;
            &:after{
              content: '';
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              width: 6px;
              height: 6px;
              border-radius: 50%;
              background: var(--separatorColour);
              right: -12px;
            }
          }
          &:last-child{
            a{
              &:hover{
                svg{
                  path{
                    fill: var(--activeActive);
                  }
                }
              }
              &:active{
                svg{
                  path{
                    fill: var(--accentActive);
                  }
                }
              }
            }
          }
        }
      }
    }
    &__mobile{
      padding-right: 0;
      &-wrapper{
        svg{
          width: 21px;
          height: 47px;
        }
      }
      &-desc{
        font-size: 36px;
        margin-top: -10px;
      }
      &-menu{
        &-item{
          &:nth-child(2){
            position: relative;
            &:after{
              content: '';
              position: absolute;
              top: 100%;
              left: 0;
              width: 100%;
              height: 2px;
              background-color: var( --accentActive);
              margin-top: 3px;
            }
            a {
              background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              background-clip: text;
            }
          }
        }
      }
      &-logo{
        width: 130px;
        height: 60px;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .header{
    display: grid;
    grid-template-columns: 480px 1fr;
    &__mobile{
      padding-top: 60px;
      display: grid;
      grid-row: span 2;
      &-menu{
        display: none;
      }
    }
    &__menu{
      display: grid;
      justify-self: end;
      padding-left: 0;
      order: 4;
      &-link{
        order: 1;
      }
    }
    &__top-menu{
      padding-left: 0;
      padding-top: 50px;
      order: 2;
      justify-self: end;
    }
  }
}

@media screen and (min-width: 1240px){
  .header{
    grid-template-columns: 580px 1fr;
  }
}

@media screen and (min-width: 1440px) {
  .header{
    grid-template-columns: 700px 1fr;
  }
}

@media screen and (min-width: 1920px) {
  .header{
    grid-template-columns: 1000px 1fr;
  }
}