.header__mobile-menu-navbar{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vh;
  height: 100vh;
  opacity: .7;
  pointer-events: none;
  transform: translateX(-100%);
  background: #686887;
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  &-list{
    min-width: 359px;
    min-height: 316px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    text-align: center;
    padding:64px 12px 12px 12px;
    background: var(--basicWhite);
    border-radius: 12px;
    &-item{
      padding-top: 7px;
      padding-bottom: 7px;
      font-size: 24px;
      color: var(--activeRegular);
      background: var(--backgroundSectionGray);
      border-radius: 12px;
      width: 100%;
    }
    &-link{
      &:active{
        color: var(--accentActive);
      }
    }
  }
  #nav-toggle:checked ~ &{
    opacity: 1;
    pointer-events: unset;
    transform: translateX(0%);
  }
}

.nav-switch{
  position: relative;
  display: block;
  left: 0;
  top: 0;
  width: 32px;
  height: 32px;
  z-index: 100;
  span{
    display: block;
    width: 18px;
    height: 2px;
    background: var(--basicWhite);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    &:nth-child(1){
      top: 8px;
    }
    &:nth-child(2){
      top: 16px;
    }
    &:nth-child(3){
      top: 24px;
    }
  }
  #nav-toggle:checked ~ &{
    span{
      top: 50%;
      transform: translate(-50%, -50%) rotate(225deg);
      &:nth-child(2){
        max-width: 100%;
        transform: translate(-50%, -50%) rotate(-225deg);
      }
      &:nth-child(3){
        opacity: 0;
      }
    }
  }
}

@media screen and (min-width: 520px) {
}

@media screen and (min-width: 767px) {
  .nav-switch{
    display: none;
  }
  .navbar{
    display: flex;
    &__list{
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 15px;
      font-size: 16px;
      font-weight: 700;
      &-item{
        &:first-child{
          color: var(--accentActive);
          position: relative;
          &:after{
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: var( --accentActive);
            margin-top: 3px;
          }
        }
      }
      &-link{
        position: relative;
        &:hover{
          background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
        }
        &:active{
          &:after{
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: var( --accentActive);
            margin-top: 3px;
          }
        }
      }
    }
  }
}


@media screen and (min-width: 1024px) {
  .navbar{
    &__list{
      padding-top: 0;
    }
  }
}

@media screen and (min-width: 1440px) {
}

@media screen and (min-width: 1920px) {
}