:root {
  --basicBlack: #000;
  --basicWhite: #fff;

  --backgroundMain: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  --backgroundSectionGray: #F5F5FA;


  --mainRegular: #323264;
  --mainAlt: #46466E;

  --greyText: #B3B3BA;

  --activeRegular: #24A3FF;
  --activeHover: #0085FF;
  --activeActive: #006CCF;
  --activeBgText: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  --accentActive: #F0145A;

  --separatorColour: #E6E6F0;
}
